/*------ Global Settings --------*/
html {
    font-family: 'Oxygen', sans-serif;
}

/*------ Nav Bar ------*/
nav {
    border-bottom: 1px solid lightslategray;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}
  
nav li {
    float: right;
}
  
nav li a {
   display: block;
   color: black;
   text-align: center;
   margin: 14px 16px;
   text-decoration: none;
}
  
/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: grey;
}

nav img {
    width: 24px;
}

/*------- Body ---------------*/
.content {
    max-width: 1080px;
    margin: 0 auto;
    padding: 25px;;
    display: flex;
    flex-direction: column;
    
}

/*------ Splash Logo ---------*/
.logo-splash-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    padding-bottom: 50px;
}

/*---------- Blog Post Cards ----------*/
.blogcard-post {
    background: #fff;
    max-width: 800px;
    margin: 5% auto;
    border-radius: 10px;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    display: inline;
    position: relative;
 }
  
.blogcard-category{
    border: none;
    outline: none;
    background: #ff5e62;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 16px;
    max-width: 100px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.blogcard-img img{
   width: 100%;
   border-radius: 5px;
}

.blogcard-copy {
    padding: 15px 15px 80px 15px;
}
.blogcard-button {
    border: none;
    outline: none;
    background: #333;
    padding: 15px 20px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    box-shadow: 1px 5px 1rem #333;
    text-decoration: none;
    float: right;
}

.blogcard-button:hover {
    box-shadow: 0px 1px 1rem rgba(255, 94, 98, 0.5);
}

/*------ Footer ------*/
footer {
    border-top: 1px solid lightslategray;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

footer li {
    float: left;
}

footer li a {
    display: block;
    color: rgb(49, 48, 48);
    text-align: center;
    padding: 6px 8px;
    text-decoration: none;
 }

 /* Change the link color to #111 (black) on hover */
footer li a:hover {
    background-color: #111;
}

footer p {
    font-size: smaller;
}