<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Mixing Bowl - Data Recipes</title>
    <link rel="stylesheet" href="../css/stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="content">
    <div class="blogcard-post">
        <div class="blogcard-category">
            <p>R project</p>
        </div>
        <div class="blogcard-img">
          <img src="/media/blog-post-img1.jpeg" alt="random image">
        </div>
        <div class="blogcard-copy">
          <h3>Cracking the interaction</h3>
          <p>It's hard to balance the user experience for simplicity with data feature complexity. This is esspecially 
             challenging for data products targeting a broad set of users. In this article we will discuss and impliment a novel 
             solution to disirable interaction </p>
          <a class="blogcard-button" href='#' target="_blank">Read More</a>
        </div>    
    </div>
    
</div>
</html>